body::before{
    display: block;
    content: '';
    height: 60px;
}

.card{
    object-fit: cover;
}

.card .card-img-top {
    aspect-ratio: 1/1;
    object-fit: cover;
}

a{
    text-decoration: none;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}