body::before{
    display: block;
    content: '';
    height: 60px;
}

.card{
    object-fit: cover;
}

.card .card-img-top {
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.younish{
    padding-right: 20px;
    padding-left: 20px;
}

.list-group-item{
    background-color: #212529;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: aqua;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.map-card{
    overflow: hidden;
    object-fit: contain;
}

.map-container{
    object-fit: cover;
}

.blog-card .card-body .info {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
    gap: 30px;
}

.contact-form {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.089), rgba(255, 0, 0, 0.326));
    padding: 30px;
}

.contact-form .form-field {
    margin-bottom: 20px;
}