body::before{
    display: block;
    content: '';
    height: 60px;
}

.card{
    object-fit: cover;
}

.card .card-img-top {
    aspect-ratio: 1/1;
    object-fit: contain;
}

.younish{
    padding-right: 20px;
    padding-left: 20px;
}

.list-group-item{
    background-color: #212529;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: aqua;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}